<!DOCTYPE html>
<html>
<head>
    <title>New URL</title>
</head>
<body>
    <h1>New URL</h1>
    <form action="/urls" method="post">
        <label for="url">URL</label>
        <input type="text" id="url" name="url" required>
      
        <label for="media">Media</label>
        <select id="media" name="media" required>
          <% media.forEach(medium => { %>
            <option value="<%= medium._id %>"><%= medium.title %></option>
          <% }); %>
        </select>
      
        <label for="spoiler">Spoiler</label>
        <select id="spoiler" name="spoiler" required>
          <option value="">Select a spoiler</option>
          <% spoilers.forEach(spoiler => { %>
            <option value="<%= spoiler._id %>"><%= spoiler.title %></option>
          <% }); %>
        </select>
      
        <label for="description">Description (optional)</label>
        <textarea id="description" name="description"></textarea>
      
        <button type="submit">Create URL</button>
    </form>
</body>
</html>
  