.collapsible h2 {
    cursor: pointer;
}
  
.collapsible .content {
    display: none; /* Hide content by default */
    padding: 10px;
}
  
label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

input[type="text"] {
	width: 200px;
	margin-right: 10px;
}

.media-item {
    cursor: pointer;
    padding: 5px;
}

.media-item:hover {
    background-color: #2437db;
}

.edit-button, .save-button {
    cursor: pointer;
}

body {
    width: 220px;
}

#filteredUrlsContainer {
    border: 1px solid #000; /* Black border */
    padding: 10px; /* Some padding */
    margin-top: 10px; /* Some margin at the top */
    overflow: auto; /* Add a scrollbar if the content is too large */
    max-height: 200px; /* Maximum height */
    border-radius: 5px; /* Add rounded corners */
    text-align: center;
}