<!DOCTYPE html>
<html>
<head>
  <title>Add New Spoiler</title>
  <script>
    async function updateParts(mediaId) {
      const response = await fetch(`/spoilers/media/${mediaId}/parts`);
      const parts = await response.json();
      const partSelect = document.getElementById('part');

      // Clear previous options
      while (partSelect.firstChild) {
        partSelect.removeChild(partSelect.firstChild);
      }

      // Always add 'Entire Media' option
      const entireMediaOption = document.createElement('option');
      entireMediaOption.text = 'Entire Media';
      entireMediaOption.value = '';
      partSelect.appendChild(entireMediaOption);

      parts.forEach(part => {
        const option = document.createElement('option');
        option.text = part.title;
        option.value = part._id;
        partSelect.appendChild(option);
      });
    }
  </script>
</head>
<body>
  <h1>Add New Spoiler</h1>
  <form action="/spoilers" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="intensity">Intensity:</label>
    <select id="intensity" name="intensity">
      <option value="No Spoilers">No Spoilers</option>
      <option value="Story Beats/Mild Spoilers">Story Beats/Mild Spoilers</option>
      <option value="Major Spoilers">Major Spoilers</option>
    </select><br>

    <label for="reference">Reference:</label>
    <input type="text" id="reference" name="reference">

    <label for="media">Media:</label>
    <select id="media" name="mediaId" required onchange="updateParts(this.value)">
        <% mediaList.forEach(media => { %>
            <option value="<%= media._id.toString() %>"><%= media.title %></option>
        <% }); %>
    </select>

    <label for="part">Part:</label>
    <select id="part" name="part">
        <option value="">Entire Media</option>
        <% if (mediaList[0].parts.length > 0) { %>
            <% mediaList[0].parts.forEach(part => { %>
                <option value="<%= part._id.toString() %>"><%= part.title %></option>
            <% }); %>
        <% } %>
    </select>

    <input type="submit" value="Create">
  </form>
</body>
</html>
