<h1>Add a new media</h1>

<form action="/media" method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="title">

  <label for="type">Type:</label>
  <select id="type" name="type">
    <option value="Video Game">Video Game</option>
    <option value="TV Show">TV Show</option>
    <option value="Film">Film</option>
    <option value="Book">Book</option>
    <option value="Sporting Event">Sporting Event</option>
    <option value="Other">Other</option>
  </select>

  <input type="submit" value="Submit">
</form>
